[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
requests = "*"
django-cors-headers = "*"
celery = "*"
django = "*"
djangorestframework = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
